@model List<ViewModels.E_ListarViewModel> 
<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Direccion</th>
      <th scope="col">Telefono</th>
      <th scope="col">Fecha de nacimiento</th>
      <th scope="col">Activo</th>
      <th scope="col">Borrar</th>
      <th scope="col">Modificar</th>
    </tr>
  </thead>
@foreach (var item in Model)
{
  <tbody>
    <tr>
      <th scope="row">@item.id</th>
      <td>@item.nombre</td>
      <td>@item.apellido</td>
      <td>@item.direccion</td>
      <td>@item.telefono</td>
      <td>@item.nacimiento</td>
      @if (item.activo)
      {
        <td>Activo</td>
      }else
      {
        <td>Inactivo</td>
      }
      <td>
        <form asp-controller="Empleado" asp-action= "bajaEmpleado" method="post">
            <input type="number" value=@item.id name="id" hidden>
            <input  class="btn btn-danger" type="submit" value="Eliminar">
            
        </form>
      </td>
      <td>
        <form asp-controller="Empleado" asp-action= "ModificarEmpleado" method="post">
            <input type="number" value=@item.id name="id" hidden>
            <input  class="btn btn-danger" type="submit" value="Modificar">
            
        </form>
      </td>
    </tr>
   
  </tbody>
    
}
</table>
    <form asp-controller="Empleado" asp-action= "AHome" method="post">
        
        <input  class="btn btn-danger" type="submit" value="Home">
            
    </form>